body,
html,
#root {
  height: 100%;
}

.App {
  height: 100%;
  background-color: rgba(34, 34, 34, 0.9);
}

.Inner-Workings-Container {
  background-image: url(./Background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height:200%;
}

.Inner-Workings {
  height:100%;
  background-color: rgba(34, 34, 34, 0.9);
}

h1 {
  text-align: center;
  font-size: 6rem;
  margin-top: 0;
  color: blanchedalmond;
  margin-bottom: 0;
}

.tableContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-left: 0;
  margin: 10rem 2rem 0 2rem;
}