body,
html,
#root {
  height: 100%;
}

.App {
  height: 100%;
  background-color: rgba(34, 34, 34, 0.9);
}

.Inner-Workings-Container {
  background-image: url(./Background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height:100%;
}

.Inner-Workings {
  height:100%;
  background-color: rgba(34, 34, 34, 0.9);
}

h1 {
  text-align: center;
  font-size: 5rem;
  margin-top: 0;
  color: rgb(230, 230, 230);
}